
<div class="container">
    <h3 class="display-4">Book Details</h3>
    <div class="row">
        <div class="col-md-6">

            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->

                <ul class="carousel-indicators">
                    @for (var i = 0; i < 3; i++)
                    {

                        <li data-target="#demo" data-slide-to="0" class="@(i == 0?"active":"")"></li>
                    }


                </ul>
                <!-- The slideshow -->
                <div class="carousel-inner">
                    @for (var i = 0; i < 3; i++)
                    {
                        <div class="@(i==0?"carousel-item active":"carousel-item")">
                            <img src="@Model.Gallery[i].URL" alt="Slider1" width="1100" height="500">
                            <div class="carousel-caption">
                                <h3>Hey there!</h3>
                                <p>This is the first slide</p>
                            </div>
                        </div>
                    }



                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>



        <div class="col-md-6">
            <div class="row">
                <h1>@Model.Title</h1>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="label label-primary">By: </span>
                    <span class="monospaced">@Model.Author</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">@Model.Description</p>
                </div>
            </div>

            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item"><span class="font-weight-bold">Category - <span> @Model.Category</span></span></li>
                    <li class="list-group-item"><span class="font-weight-bold">Total Pages - <span> @Model.PageCount</span></span></li>
                    <li class="list-group-item"><span class="font-weight-bold">Language - <span> @Model.LanguageId</span></span></li>
                </ul>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Read Now</button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="height:610px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@Model.Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <embed class="w-100" src="@Model.BookPdfUrl" style="height:445px;" />
                        @*<iframe class="w-100" src="@Model.BookPdfUrl" style="height:435px;"></iframe>*@
                    </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
